* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: rgb(97, 58, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

}
#welcome{
    width: 100%;
    height: 100vh;
    background-color:  rgb(47, 20, 59);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#div {
    width: 400px;
align-items:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 380px;
    background-color: rgb(47, 20, 59);
    box-shadow: 1px 1px 20px 1px #16061d;
}

#email1 {
    color: white;
    font-family: cursive;

}

#inputtext {

    width: 320px;
    height: 35px;
    background-color: rgb(31, 4, 43);
    border: 0ch;
    color: white;
}

#password1 {
    color: white;
    font-family: cursive;

}

#inputpassword {

    width: 320px;
    height: 35px;
    background-color: rgb(31, 4, 43);
    border: 0ch;
    color: white;
}

#login1 {

    width: 323px;
    height: 50px;
    background-color: rgb(252, 170, 93);
    border: 0ch;
    font-family: cursive;
    box-shadow: 1px 1px 20px 1px #16061d;
    font-size: 18px;

}

#span1 {

    color: white;
    font-family: cursive;
}

a {
    font-family: cursive;
    color: rgb(252, 170, 93);
    text-decoration: none;
}